In [8]:
import os
import pandas as pd
import numpy as np

path = r'C:\\Users\\inventor\\Desktop\\FR study\\FR-30th\\Derivatives_study\\FR_30_NIH\\simulation'
os.chdir(path)


# europian call option
k=50; r=0.10; t=5/12; sigma=0.4; smax=100; q=0
m=20; n=10
ds = smax/m
dt = t/n
 
df = pd.DataFrame(index=[x for x in range(n+1)],
                  columns=[y for y in range(m+1)])
# 경계조건
for j in range(1, m):
    df.loc[n, j] = max(j * ds - k, 0)
 
for i in range(0, n+1):
    df.loc[i, 0] = 0
for i in range(0, n+1):
    df.loc[i, m] = max(m*ds - k*np.exp(-(r-q)*(n-i)*dt), 0)
 
for i in range(n-1, 0-1, -1):
    for j in range(m-1, 1-1, -1):
        A = (0.5 * dt / (1+r*dt)) * ((-1)*(r-q)*j + (sigma**2)*(j**2))
        B = 1 / (1+r*dt) * ( 1 - ((sigma*j)**2)*dt )
        C = (0.5 * dt / (1+r*dt)) * ((r-q)*j + (sigma**2)*(j**2))
        df.loc[i, j] = A*df.loc[i+1, j-1] + B*df.loc[i+1, j] + C*df.loc[i+1, j+1]
 
for j in range(0, m+1):
    print('stock price : ', j*ds, "option price: ", round(df.loc[0, j], 2))


df.dropna(how='all', inplace=True, axis=0)
df.dropna(how='all', inplace=True, axis=1)
name = 'call option'
df.to_excel('Explicit FDM of europian option.xlsx', sheet_name=name)
pd.options.display.max_columns = None
pd.options.display.max_rows = None
df

stock price :  0.0 option price:  0
stock price :  5.0 option price:  0.0
stock price :  10.0 option price:  0.0
stock price :  15.0 option price:  0.0
stock price :  20.0 option price:  0.0
stock price :  25.0 option price:  0.01
stock price :  30.0 option price:  0.11
stock price :  35.0 option price:  0.51
stock price :  40.0 option price:  1.54
stock price :  45.0 option price:  3.39
stock price :  50.0 option price:  6.08
stock price :  55.0 option price:  9.51
stock price :  60.0 option price:  13.45
stock price :  65.0 option price:  17.92
stock price :  70.0 option price:  22.33
stock price :  75.0 option price:  27.53
stock price :  80.0 option price:  31.77
stock price :  85.0 option price:  37.58
stock price :  90.0 option price:  41.55
stock price :  95.0 option price:  47.42
stock price :  100.0 option price:  52.04

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,0,5.28326e-11,7.30146e-08,1.34427e-05,0.000677313,0.0127814,0.110198,0.514723,1.53709,3.38509,6.07629,9.50907,13.4542,17.9246,22.3309,27.5325,31.7732,37.5809,41.549,47.4167,52.0405
1,0,0,9.79435e-09,3.6449e-06,0.000277856,0.00700139,0.0744524,0.402421,1.31989,3.07661,5.72239,9.12764,13.1545,17.487,22.2896,26.8786,32.0843,36.697,42.0244,46.7238,51.8403
2,0,0,0,5.62009e-07,8.63944e-05,0.00327259,0.0458358,0.298683,1.10257,2.75872,5.34509,8.75981,12.7595,17.254,21.8542,26.8353,31.6166,36.7166,41.5884,46.6801,51.6392
3,0,0,0,0,1.55683e-05,0.0011813,0.0245405,0.205653,0.886959,2.42695,4.95573,8.34925,12.4267,16.8648,21.6767,26.4709,31.4911,36.4239,41.4532,46.421,51.4373
4,0,0,0,0,0,0.000253511,0.0103996,0.126127,0.674681,2.08275,4.535,7.945,12.0183,16.5995,21.3287,26.2958,31.2308,36.2363,41.2266,46.2393,51.2345
5,0,0,0,0,0,0,0.00271538,0.0632394,0.470263,1.71929,4.09488,7.48704,11.6665,16.228,21.1174,26.0288,31.0293,36.0279,41.0318,46.0279,51.0309
6,0,0,0,0,0,0,0,0.0205788,0.279043,1.33996,3.60161,7.03813,11.2315,15.9674,20.8247,25.8247,30.8247,35.8253,40.8244,45.8266,50.8264
7,0,0,0,0,0,0,0,0,0.116148,0.92876,3.07925,6.49402,10.8869,15.6198,20.6198,25.6198,30.6198,35.6198,40.6204,45.6201,50.6211
8,0,0,0,0,0,0,0,0,0,0.507094,2.42205,6.00356,10.4141,15.4141,20.4141,25.4141,30.4141,35.4141,40.4141,45.4146,50.4149
9,0,0,0,0,0,0,0,0,0,0,1.76349,5.20747,10.2075,15.2075,20.2075,25.2075,30.2075,35.2075,40.2075,45.2075,50.2079
10,0,0,0,0,0,0,0,0,0,0,0,5,10,15,20,25,30,35,40,45,50

In [7]:
# american put option, 표 20.4
k=50; r=0.10; t=5/12; sigma=0.4; smax=100; q=0
m=20; n=10
ds = smax/m
dt = t/n
 
df = pd.DataFrame(index=[x for x in range(n+1)],
                  columns=[y for y in range(m+1)])
# 경계조건
for j in range(1, m):
    df.loc[n, j] = max(k - j * ds, 0)
 
for i in range(0, n+1):
    df.loc[i, 0] = k
for i in range(0, n+1):
    df.loc[i, m] = 0
 
for i in range(n-1, 0-1, -1):
    for j in range(m-1, 1-1, -1):
        A = (0.5 * dt / (1+r*dt)) * ((-1)*(r-q)*j + (sigma**2)*(j**2))
        B = 1 / (1+r*dt) * ( 1 - ((sigma*j)**2)*dt )
        C = (0.5 * dt / (1+r*dt)) * ((r-q)*j + (sigma**2)*(j**2))
        df.loc[i, j] = max(A*df.loc[i+1, j-1] + B*df.loc[i+1, j] + C*df.loc[i+1, j+1], k - j * ds)
        # europaain 이면 df.loc[i, j] = A*df.loc[i+1, j-1] + B*df.loc[i+1, j] + C*df.loc[i+1, j+1] 임.
 
for j in range(0, m+1):
    print('stock price : ', j*ds, "option price: ", round(df.loc[0, j], 2))


df.dropna(how='all', inplace=True, axis=0)
df.dropna(how='all', inplace=True, axis=1)
name = 'put option'
df.to_excel('Explicit FDM of american option.xlsx', sheet_name=name)
pd.options.display.max_columns = None
pd.options.display.max_rows = None
df

stock price :  0.0 option price:  50
stock price :  5.0 option price:  45.0
stock price :  10.0 option price:  40.0
stock price :  15.0 option price:  35.0
stock price :  20.0 option price:  30.0
stock price :  25.0 option price:  25.0
stock price :  30.0 option price:  20.0
stock price :  35.0 option price:  15.0
stock price :  40.0 option price:  10.28
stock price :  45.0 option price:  6.76
stock price :  50.0 option price:  4.26
stock price :  55.0 option price:  2.59
stock price :  60.0 option price:  1.48
stock price :  65.0 option price:  0.91
stock price :  70.0 option price:  0.32
stock price :  75.0 option price:  0.45
stock price :  80.0 option price:  -0.13
stock price :  85.0 option price:  0.28
stock price :  90.0 option price:  -0.11
stock price :  95.0 option price:  0.06
stock price :  100.0 option price:  0

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,50,45,40,35,30,25,20,15,10.277,6.75573,4.2568,2.58717,1.47867,0.913573,0.324052,0.454959,-0.134077,0.282359,-0.106732,0.0576152,0
1,50,45,40,35,30,25,20,15,10.2013,6.61344,4.08178,2.39223,1.36697,0.676619,0.457382,0.063506,0.204627,-0.0474891,0.0497145,0,0
2,50,45,40,35,30,25,20,15,10.1279,6.46588,3.88591,2.21053,1.16495,0.634217,0.228763,0.195729,-0.00356945,0.0478865,0,0,0
3,50,45,40,35,30,25,20,15,10.062,6.3097,3.67889,1.98783,1.02268,0.444433,0.245152,0.0402881,0.0518215,0,0,0,0
4,50,45,40,35,30,25,20,15,10.0122,6.14603,3.43979,1.7703,0.810081,0.374357,0.100433,0.0634603,0,0,0,0,0
5,50,45,40,35,30,25,20,15,10,5.95924,3.17883,1.50283,0.65185,0.205138,0.0886604,0,0,0,0,0,0
6,50,45,40,35,30,25,20,15,10,5.74738,2.86678,1.24356,0.417828,0.142638,0,0,0,0,0,0,0
7,50,45,40,35,30,25,20,15,10,5.49842,2.52658,0.898649,0.2671,0,0,0,0,0,0,0,0
8,50,45,40,35,30,25,20,15,10,5.23997,2.07254,0.589478,0,0,0,0,0,0,0,0,0
9,50,45,40,35,30,25,20,15,10,5,1.55602,0,0,0,0,0,0,0,0,0,0
10,50,45,40,35,30,25,20,15,10,5,0,0,0,0,0,0,0,0,0,0,0